.frame{
    width: 80%;
    height: max-content;
    margin: auto;
    padding: 2em;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.boundary{
    height: max-content;
    text-align: center;
    margin-top: 3em;
}

.bar{
    display: inline-block;
    border: 1px solid black;
}

.nav{
    padding: 1em;
    padding-top: 0.2em;
    background-color: aquamarine;
    text-align: center;
}
.nav select{
    width: 10em;
    height: 2em;
    margin-right: 2em;
}
.nav button{
    width: 8em;
    height: 2em;
    margin-right: 0.2em;
}
