.node {
  border: 1px solid black;
  display: inline-block;
  width: 2em;
  height: 100%;
}

.row {
  height: 2em;
  overflow: hidden;
}

.visited {
  background-color: aqua;
  transition: all 0.8s ease;
  /* animation: visited 5s ease-out 0s 1 forwards; */
}
@keyframes visited {
    0%{
        background-color: white;
    }
    100%{
        background-color: aqua;
    }
}

.visitedIn {
  margin: auto;
  position: relative;
  animation: changeBackgroud 1s ease-out 0s 1 forwards;
}
@keyframes changeBackgroud {
  0% {
    border-radius: 2em;
    width: 50%;
    height: 50%;
    top: 25%;
    background-color: darkblue;
  }
  99% {
    border: 0em;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0%;
    background-color: aqua;
    opacity: 0;
  }
}

.source {
  background-color: #fff !important;
  position: relative;
}
.source div:nth-child(1){
  opacity: 1 !important;
  background-color: yellow !important;
}

.dest {
  position: relative;
}
.dest div:nth-child(1){
  opacity: 1 !important;
  background-color: yellow !important;
}

.weight {
  background-color: orange !important;
}
.wall {
  background-color: black !important;
}
.path {
  background-color: yellow !important;
}
